{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="py-5 d-flex justify-content-between">
    <h1>{{review.movie_name}}
    </h1>
    <span class="fs-6 text-end">평점:
      {{review.grade}}점</span>
  </div>
  <h3>제목:
    {{review.title}}</h3>
  <br>
  <p>내용:
    {{review.content}}</p>

  <a class='btn btn-outline-success' href="{% url 'board:update' review.pk %}">수정</a>
  <a class="btn btn-outline-danger" href="{% url 'board:delete' review.pk %}">삭제</a>
</div>

{% endblock %}